<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ app.config.title | default('My Wallboard') }}</title>
<meta http-equiv="refresh" content="{{ app.config.refresh_interval | default(10) }}">
<!-- Bootstrap -->
<link href="/assets/css/bootstrap.min.css" rel="stylesheet">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>
<body>
<style type="text/css">
body { 
	background-color: {{ app.config.widget_background_color | default('#000000') }};
color: {{ app.config.widget_forground_color | default('#FFFFFF') }};
       font-size: {{ app.config.widget_font_size|default(40) }}px; 
}
.alert { padding: 0;}
.title { text-align: center; }
</style>
<div class="container-responsive">
{% for widget in widgets %}
{% include 'widget.html.twig' with widget %}
{% if loop.index is divisibleby( app.config.widgets_per_row | default(3) ) %}<div class="clearfix"></div>{% endif %}
{% endfor %}
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://code.jquery.com/jquery.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/assets/js/bootstrap.min.js"></script>
</body>
</html>

